body{
  text-align: center;
}

#gridContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mainGrid{
  background-color: black;
  image-rendering: pixelated;
}

#nextContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 10px;
}

#nextPiece{
  background-color: black;
}